.btn_watch {
  background-color: steelblue;
  border: 1px solid steelblue;
  color: white;
  padding: 5px 10px;
  border-radius: 10px;
  cursor: pointer;
  margin: 0 5px;
}

.btn_del {
  background-color: red;
  border: 1px solid red;
  color: white;
  padding: 5px 10px;
  border-radius: 10px;
  cursor: pointer;
  margin: 0 5px;
}

.apfhd tr {
  background-color: darkgrey;
}
#off {
  background-color: darkgrey;
}
